/* =========== ABOUT ME SECTION =========== */
/* Use this to style the about me image */
.sidebar-my-image {
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
}


/* POSITION SOCIAL MEDIA ICONS */
.sidebar-social-media{
    padding: 5px;
    text-align: center;

}

/* SOCIAL MEDIA ICONS */
.sidebar-social-icon{
      display: inline-block;
      color: black;
      padding: 10px;
      margin: 10px; 
        background-color: skyblue;
        border: solid 3px;

      }


/* =========== CTS SECTION =========== */

/* CTS Image Logo */
.sidebar-cts-logo{
    width: 100%;
}

/* CTS LINK */
.sidebar-cts-link{
    display: block;
    background-color: teal;
    color: darksalmon;
    text-decoration: none;
    text-align: center;
    border: solid  3px;
    padding: 20px;

}


/* =========== TAGS SECTION =========== */

.sidebar-tag {
    display: inline-block;
    padding: 12px;
    margin: 3px;
    color: darksalmon;
    background-color: teal;
    border: solid  3px;
}



.sidebar-tag:hover {

    color: lightpink;
    background-color: skyblue;

}

.sidebar-my-name{


text-align: center;
font-size: 20px;
} 

.sidebar-about-me{

    font-style: italic ;
}


.sidebar-title{

    color: deeppink;
    font-weight: bold;
    font-style: italic;
} 

.sidebar-cts-paragraph{

    font-style: italic;
} 

.sidebar-cts-link:hover {

    color: lightpink;
    background-color: skyblue;

}